[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-timeout = "*"
pdbpp = "*"
better-exceptions = "*"
"flake8" = "*"
bumpversion = "*"
twine = "*"


[requires]
python_version = "3.6"
