[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {editable = true, path = "."}

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
autopep8 = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-only = "*"
watchdog = "*"
mypy = "*"
isort = "*"
tox = ">=3.13.2"
rope = "*"
twine = "*"
tox-pipenv-install = "*"
